<!-- form.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログインページ</title>
</head>
<body>
	<h1>ログインフォーム</h1>
	<form method="POST" action="/">
	    <label for="id">ユーザーID:</label>
	    <input type="text" id="id" name="id"><br><br>
	    <label for="pwd">パスワード:</label>
	    <input type="password" id="pwd" name="pwd"><br><br>
	    
	    <button type="submit" name="action" value="login">ログイン</button>
	    <button type="submit" name="action" value="register">パスワード登録</button>
	</form>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<body>
