<!-- home.html -->
{% extends "base.html" %}
{% block title %}{{ character.name }}専用ページ{% endblock %}
{% block style %}
        .container {
            margin-top: 20px;
            background-color: #f0f8ff;
        }
        .character-image {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-group label {
            font-weight: bold;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .form-row .col-md-4 {
            padding-left: 5px;
            padding-right: 5px;
        }
        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #6283c2;
        }
        .btn {
            margin-top: 1px;
        }
		.custom-input-width{
			max-width: 100px;
			margin-right: 50px; /* ボタンとの間にスペースを追加 */
			height: 38px; /* ボタンの高さに合わせる */
		}
		.custom-btn {
			height: 38px; /* 入力フィールドの高さに合わせる */
		}
		.button-wrapper {
	      display: flex;
	      justify-content: flex-end; /* 右端に配置 */
	      width: 100%;                /* 左半分の中 */
	    }
	    /* 技能ボタンの配置を制御 */
	    .form-group-add {
	      display: flex;
	      align-items: center;
	      gap: 10px; /* 項目間のスペース */
	    }


	    /* 技能ボタンの調整 */
	    .custom-btn-skill {
	      margin-left: 4px; /* 必要に応じて調整 */
	      margin-right: 1px; /* 必要に応じて調整 */
	    }

	    /* 入力フィールドのカスタム幅 */
	    .custom-input-width-skill {
	      width: 60px; /* 必要に応じて調整 */
	    }
	    
{% endblock %}

{% block content %}
<div class="container">
	<h1>{{ character.lavel }}専用ページ</h1>
	<hr>
	
	<h2>キャラクター名: {{ character.lavel }}</h2>
	<img src="{{ character.image_url }}" alt="{{ character.name }}" class="character-image mb-3">
	
	<br>
	
	<form method="POST" action="{{ url_for('profile', character_id=character.id ) }}" class="ml-2">
	<div class="row">
		<!-- 左側: キャラクター情報 -->
		<div class="col-md-6">
			<h3>キャラクター情報 (変更可能)</h3>

			<!-- 名前, タイプ, 年齢, 背景 -->
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="name">性別:</label>
					<input type="text" id="sex" name="sex" class="form-control" value="{{ character.sex }}">
				</div>
				<div class="form-group col-md-3">
					<label for="type">種族:</label>
					<input type="text" id="type" name="type" class="form-control" value="{{ character.type }}">
				</div>
				<div class="form-group col-md-3">
					<label for="age">年齢:</label>
					<input type="number" id="age" name="age" class="form-control" value="{{ character.age }}">
				</div>
				<div class="form-group col-md-3">
					<label for="background">生まれ:</label>
					<input type="text" id="backborn" name="backborn" class="form-control" value="{{ character.backborn }}">
				</div>
			</div>

			<!-- 技術, 身体, 心 -->
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="Technique">技術:</label>
					<input type="number" id="Technique" name="Technique" class="form-control" value="{{ character.Technique }}">
				</div>
				<div class="form-group col-md-4">
					<label for="Body">身体:</label>
					<input type="number" id="Body" name="Body" class="form-control" value="{{ character.Body }}">
				</div>
				<div class="form-group col-md-4">
					<label for="Hart">心:</label>
					<input type="number" id="Heart" name="Heart" class="form-control" value="{{ character.Heart }}">
				</div>
			</div>

			<!-- A, B, C, D, E, F -->
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="A">A:</label>
					<input type="number" id="A" name="A" class="form-control" value="{{ character.A }}">
				</div>
				<div class="form-group col-md-2">
					<label for="B">B:</label>
					<input type="number" id="B" name="B" class="form-control" value="{{ character.B }}">
				</div>
				<div class="form-group col-md-2">
					<label for="C">C:</label>
					<input type="number" id="C" name="C" class="form-control" value="{{ character.C }}">
				</div>
				<div class="form-group col-md-2">
					<label for="D">D:</label>
					<input type="number" id="D" name="D" class="form-control" value="{{ character.D }}">
				</div>
				<div class="form-group col-md-2">
					<label for="E">E:</label>
					<input type="number" id="E" name="E" class="form-control" value="{{ character.E }}">
				</div>
				<div class="form-group col-md-2">
					<label for="F">F:</label>
					<input type="number" id="F" name="F" class="form-control" value="{{ character.F }}">
				</div>
			</div>

			<!-- d1, d2, d3, d4, d5, d6 -->
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="d1">d1:</label>
					<input type="number" id="d1" name="d1" class="form-control" value="{{ character.d1 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="d2">d2:</label>
					<input type="number" id="d2" name="d2" class="form-control" value="{{ character.d2 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="d3">d3:</label>
					<input type="number" id="d3" name="d3" class="form-control" value="{{ character.d3 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="d4">d4:</label>
					<input type="number" id="d4" name="d4" class="form-control" value="{{ character.d4 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="d5">d5:</label>
					<input type="number" id="d5" name="d5" class="form-control" value="{{ character.d5 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="d6">d6:</label>
					<input type="number" id="d6" name="d6" class="form-control" value="{{ character.d6 }}">
				</div>
			</div>
	            
			<!-- e1, e2, e3, e4, e5, e6 -->
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="e1">e1:</label>
					<input type="number" id="e1" name="e1" class="form-control" value="{{ character.e1 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="e2">e2:</label>
					<input type="number" id="e2" name="e2" class="form-control" value="{{ character.e2 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="e3">e3:</label>
					<input type="number" id="e3" name="e3" class="form-control" value="{{ character.e3 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="e4">e4:</label>
					<input type="number" id="e4" name="e4" class="form-control" value="{{ character.e4 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="e5">e5:</label>
					<input type="number" id="e5" name="e5" class="form-control" value="{{ character.e5 }}">
				</div>
				<div class="form-group col-md-2">
					<label for="e6">e6:</label>
					<input type="number" id="e6" name="e6" class="form-control" value="{{ character.e6 }}">
				</div>
			</div>

			<!-- 経験 -->
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="experience">経験:</label>
					<input type="number" id="experience" name="experience" class="form-control" value="{{ character.experience }}">
				</div>
				<div class="form-group col-md-3">
					<label for="experience">所持金:</label>
					<input type="number" id="money" name="money" class="form-control" value="{{ character.money }}">
				</div>
				<div class="form-group col-md-3">
					<label for="debt">借金:</label>
					<input type="number" id="debt" name="debt" class="form-control" value="{{ character.debt }}">
				</div>
				<div class="form-group col-md-3">
					<label for="honor">名誉点:</label>
					<input type="number" id="honor" name="honor" class="form-control" value="{{ character.honor }}">
				</div>
			</div>
			
			<div class="button-wrapper">
				<button type="submit" class="btn btn-primary">適用</button>
			</div>
			
		</div> 
		<!-- 右側: ステータス情報 -->
		<div class="col-md-6">
			<h3>ステータス情報 (自動反映)</h3>
			
			<!-- HP, MP, LEVEL -->
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="HP">HP:</label>
					<input type="number" id="HP" class="form-control" value="{{ status.HP }}" readonly>
				</div>
				<div class="form-group col-md-4">
					<label for="MP">MP:</label>
					<input type="number" id="MP" class="form-control" value="{{ status.MP }}" readonly>
				</div>
				<div class="form-group col-md-4">
					<label for="LEVEL">LEVEL:</label>
					<input type="number" id="LEVEL" class="form-control" value="{{ status.LEVEL }}" readonly>
				</div>
			</div>

			<!-- DEX, AGI, STR, VIT, INT, MND -->
			<div class="form-row">
				<div class="form-group col-md-2">
					<label for="DEX">器用度:</label>
					<input type="number" id="DEX" class="form-control" value="{{ status.DEX }}" readonly>
				</div>
				<div class="form-group col-md-2">
					<label for="AGI">敏捷度:</label>
					<input type="number" id="AGI" class="form-control" value="{{ status.AGI }}" readonly>
				</div>
				<div class="form-group col-md-2">
					<label for="STR">筋力:</label>
					<input type="number" id="STR" class="form-control" value="{{ status.STR }}" readonly>
				</div>
				<div class="form-group col-md-2">
					<label for="VIT">生命力:</label>
					<input type="number" id="VIT" class="form-control" value="{{ status.VIT }}" readonly>
				</div>
				<div class="form-group col-md-2">
					<label for="INT">知力:</label>
					<input type="number" id="INT" class="form-control" value="{{ status.INT }}" readonly>
				</div>
				<div class="form-group col-md-2">
					<label for="MND">精神力:</label>
					<input type="number" id="MND" class="form-control" value="{{ status.MND }}" readonly>
				</div>
			</div>

			<!-- VITREG, MNDREG, MAG -->
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="VITREG">生命抵抗力:</label>
					<input type="number" id="VITREG" class="form-control" value="{{ status.VITREG }}" readonly>
				</div>
				<div class="form-group col-md-4">
					<label for="MNDREG">精神抵抗力:</label>
					<input type="number" id="MNDREG" class="form-control" value="{{ status.MNDREG }}" readonly>
				</div>
				<div class="form-group col-md-4">
					<label for="MAG">魔力:</label>
					<input type="number" id="MAG" class="form-control" value="{{ status.MAG }}" readonly>
				</div>
			</div>
	            
			<!-- ELSE -->
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="knowledge">魔物知識:</label>
					<input type="number" id="knowledge" class="form-control" value="{{ status.魔物知識 }}" readonly>
				</div>
				<div class="form-group col-md-3">
					<label for="quickness">先制力:</label>
					<input type="number" id="quickness" class="form-control" value="{{ status.先制力 }}" readonly>
				</div>
				<div class="form-group col-md-3">
					<label for="movement">移動力:</label>
					<input type="number" id="movement" class="form-control" value="{{ status.移動力 }}" readonly>
				</div>
				<div class="form-group col-md-3">
					<label for="fullmove">全力移動:</label>
					<input type="number" id="fullmove" class="form-control" value="{{ status.全力移動 }}" readonly>
				</div>
			</div>

		</div>
		
	</div>
	</form>
		
	<br>
	<br>

	<h3>技能情報 (変更可能)</h3>
	<!-- 技能情報 -->
	<div class="row">
		<!-- 物理スキル -->
		<div class="col-md-4">
			<h4>物理系技能</h4>
			{% for skill in skills_physical %}
			<div class="form-group-add d-flex align-items-center mb-2">
		        <label for="{{ skill.name }}" class="flex-grow-1">{{ skill.name }}:</label>
		        <form method="POST" action="{{ url_for('edit_skill', character_id=character.id, skill_id=skill.id) }}" class="form-inline ml-2">
		            <div class="form-group-input mr-2">
		                <input type="number" id="{{ skill.name }}" name="{{ skill.name }}" class="form-control custom-input-width-skill" style="width: 60px !important;" value="{{ skill.level }}">
		            </div>
		            <button type="submit" class="btn btn-success custom-btn-skill">変更</button>
		        </form>
		        <form method="POST" action="{{ url_for('delete_skill', character_id=character.id, skill_id=skill.id) }}" class="ml-2">
		            <button type="submit" class="btn btn-danger custom-btn-skill">削除</button>
		        </form>
		    </div>
		    {% endfor %}
		</div>
		    
		<!-- 魔法スキル -->
		<div class="col-md-4">
		    <h4>魔法系技能</h4>
		    {% for skill in skills_magic %}
		    <div class="form-group-add d-flex align-items-center mb-2">
		        <label for="{{ skill.name }}" class="flex-grow-1">{{ skill.name }}:</label>
		        <form method="POST" action="{{ url_for('edit_skill', character_id=character.id, skill_id=skill.id) }}" class="form-inline ml-2">
		            <div class="form-group-input mr-2">
		                <input type="number" id="{{ skill.name }}" name="{{ skill.name }}" class="form-control custom-input-width-skill" style="width: 60px !important;" value="{{ skill.level }}">
		            </div>
		            <button type="submit" class="btn btn-success custom-btn-skill">変更</button>
		        </form>
		        <form method="POST" action="{{ url_for('delete_skill', character_id=character.id, skill_id=skill.id) }}" class="ml-2">
		            <button type="submit" class="btn btn-danger custom-btn-skill">削除</button>
		        </form>
		    </div>
		    {% endfor %}
		</div>

		
		<!-- その他のスキル -->
		<div class="col-md-4">
			<h4>その他</h4>
			{% for skill in skills_other %}
			<div class="form-group-add d-flex align-items-center mb-2">
		        <label for="{{ skill.name }}" class="flex-grow-1">{{ skill.name }}:</label>
		        <form method="POST" action="{{ url_for('edit_skill', character_id=character.id, skill_id=skill.id) }}" class="form-inline ml-2">
		            <div class="form-group-input mr-2">
		                <input type="number" id="{{ skill.name }}" name="{{ skill.name }}" class="form-control custom-input-width-skill" style="width: 60px !important;" value="{{ skill.level }}">
		            </div>
		            <button type="submit" class="btn btn-success custom-btn-skill">変更</button>
		        </form>
		        <form method="POST" action="{{ url_for('delete_skill', character_id=character.id, skill_id=skill.id) }}" class="ml-2">
		            <button type="submit" class="btn btn-danger custom-btn-skill">削除</button>
		        </form>
		    </div>
		    {% endfor %}
		</div>
	</div>

	
		
	<!-- スキル追加フォーム -->
	<h5>スキルを追加</h5>
	<form method="POST" action="{{ url_for('add_job', character_id=character.id) }}">
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="skill_name">スキル名:</label>
				<select id="skill_name" name="skill_name" class="form-control" >
					<option value="ソーサラー">ソーサラー</option>
					<option value="コンジュラー">コンジュラー</option>
					<option value="フェアリーテイマー">フェアリーテイマー</option>
					<option value="プリースト">プリースト</option>
					<option value="マギテック">マギテック</option>
					<option value="深智魔法">深智魔法</option>
					<option value="ファイター">ファイター</option>
					<option value="グラップラー">グラップラー</option>
					<option value="フェンサー">フェンサー</option>
					<option value="シューター">シューター</option>
					<option value="スカウト">スカウト</option>
					<option value="レンジャー">レンジャー</option>
					<option value="セージ">セージ</option>
					<option value="ウォーリーダー">ウォーリーダー</option>
					<option value="ミスティック">ミスティック</option>
					<option value="ライダー">ライダー</option>
					<option value="アルケミスト">アルケミスト</option>
					<option value="バード">バード</option>
					<option value="エンハンサー">エンハンサー</option>
					<option value="ウィザード">ウィザード</option>
				</select>
			</div>

			<div class="form-group col-md-2">
				<label for="skill_level">レベル:</label>
				<input type="number" id="skill_level" name="skill_level" class="form-control" value="1" min="1">
			</div>

			<div class="form-group col-md-3">
				<label for="skill_type">タイプ:</label>
				<select id="skill_type" name="skill_type" class="form-control">
					<option value="物理">物理</option>
					<option value="魔法">魔法</option>
					<option value="その他">その他</option>
				</select>
			</div>

			<div class="form-group col-md-3 d-flex align-items-end">
				<button type="submit" class="btn btn-primary custom-btn">スキルを追加</button>
			</div>
		</div>
	</form>
	
	<br>
	<br>
	
	<!-- 武器セクション -->
	<h3>武器 (変更可能)</h3>
	<button type="button" class="btn btn-primary" onclick="addWeapon()">行追加</button>
	<table>
	    <thead>
	        <tr>
	            <th style="width: 20%;">名前</th>
	            <th style="width: 12%;">武器種</th>
	            <th style="width: 8%;">タイプ</th>
	            <th style="width: 8%;">ランク</th>
	            <th style="width: 8%;">重量</th>
	            <th style="width: 8%;">命中</th>
	            <th style="width: 8%;">威力</th>
	            <th style="width: 8%;">追加点</th>
	            <th style="width: 12%;">備考</th>
	            <th style="width: 8%;">操作</th>
	        </tr>
	    </thead>
	    <tbody id="items-tbody-weapon">
	        {% for weapon in weapons %}
	        <tr>
	            <td><input type="text" name="weapon_{{ weapon.id }}_name" value="{{ weapon.name }}" class="form-control"></td>
	            <td>
	                <select name="weapon_{{ weapon.id }}_category" class="form-control">
	                    {% for category in weapon_categories %}
	                    <option value="{{ category }}" {% if weapon.category == category %}selected{% endif %}>{{ category }}</option>
	                    {% endfor %}
	                </select>
	            </td>
	            <td><input type="text" name="weapon_{{ weapon.id }}_type" value="{{ weapon.type }}" class="form-control"></td>
	            <td><input type="text" name="weapon_{{ weapon.id }}_rank" value="{{ weapon.rank }}" class="form-control"></td>
	            <td><input type="number" name="weapon_{{ weapon.id }}_weight" value="{{ weapon.weight }}" class="form-control"></td>
	            <td><input type="number" name="weapon_{{ weapon.id }}_aim" value="{{ weapon.aim }}" class="form-control"></td>
	            <td><input type="number" name="weapon_{{ weapon.id }}_power" value="{{ weapon.power }}" class="form-control"></td>
	            <td><input type="number" name="weapon_{{ weapon.id }}_damage" value="{{ weapon.damage }}" class="form-control"></td>
	            <td><input type="text" name="weapon_{{ weapon.id }}_explain" value="{{ weapon.explain }}" class="form-control"></td>
	            <td>
	                <button type="button" class="btn btn-success" onclick="submitRow(this, '{{ url_for('edit_weapon', character_id=character.id, weapon_id=weapon.id) }}')">登録</button>
	                <button type="button" class="btn btn-danger" onclick="submitRow(this, '{{ url_for('delete_weapon', character_id=character.id, weapon_id=weapon.id) }}')">削除</button>
	            </td>
	        </tr>
	        {% endfor %}
	    </tbody>
	</table>

	<!-- 防具セクション -->
	<h3>防具 (変更可能)</h3>
	<button type="button" class="btn btn-primary" onclick="addProtector()">行追加</button>
	<table>
	    <thead>
	        <tr>
	            <th style="width: 20%;">名前</th>
	            <th style="width: 12%;">種類</th>
	            <th style="width: 8%;">防護点</th>
	            <th style="width: 8%;">重量</th>
	            <th style="width: 8%;">回避力</th>
	            <th style="width: 8%;">命中力</th>
	            <th style="width: 20%;">説明</th>
	            <th style="width: 16%;">操作</th>
	        </tr>
	    </thead>
	    <tbody id="items-tbody-protector">
	        {% for protector in protectors %}
	        <tr>
	            <td><input type="text" name="protector_{{ protector.id }}_name" value="{{ protector.name }}" class="form-control"></td>
	            <td><input type="text" name="protector_{{ protector.id }}_type" value="{{ protector.type }}" class="form-control"></td>
	            <td><input type="number" name="protector_{{ protector.id }}_defense" value="{{ protector.defense }}" class="form-control"></td>
	            <td><input type="number" name="protector_{{ protector.id }}_weight" value="{{ protector.weight }}" class="form-control"></td>
	            <td><input type="number" name="protector_{{ protector.id }}_evasion" value="{{ protector.evasion }}" class="form-control"></td>
	            <td><input type="number" name="protector_{{ protector.id }}_accuracy" value="{{ protector.accuracy }}" class="form-control"></td>
	            <td><input type="text" name="protector_{{ protector.id }}_explain" value="{{ protector.explain }}" class="form-control"></td>
	            <td>
	                <button type="button" class="btn btn-success" onclick="submitRow(this, '{{ url_for('edit_protector', character_id=character.id, protector_id=protector.id) }}')">登録</button>
	                <button type="button" class="btn btn-danger" onclick="submitRow(this, '{{ url_for('delete_protector', character_id=character.id, protector_id=protector.id) }}')">削除</button>
	            </td
	        </tr>>
	        {% endfor %}
	    </tbody>
	</table>
	
	<!-- Item情報 -->
	<h3>アイテム (変更可能)</h3>
	<text>登録ボタンを押すとページが更新されるので入力は1行ずつ行ってください。</text><br>
    <button type="button" class="btn btn-primary" onclick="addItem()">行追加</button>
	<table>
	    <thead>
	        <tr>
	            <th style="width: 20%;">名前</th>
	            <th style="width: 10%;">タイプ</th>
	            <th style="width: 10%;">個数</th>
	            <th style="width: 25%;">説明</th>
	            <th style="width: 20%;">コマンド</th>
	            <th style="width: 15%;">操作</th>
	        </tr>
	    </thead>
	    <tbody id="items-tbody-item">
	        {% for item in items %}
	        <tr>
	            <td><input type="text" name="item_{{ item.id }}_name" value="{{ item.name }}" class="form-control"></td>
	            <td><input type="text" name="item_{{ item.id }}_type" value="{{ item.type }}" class="form-control"></td>
	            <td><input type="number" name="item_{{ item.id }}_num" value="{{ item.num }}" class="form-control"></td>
	            <td><input type="text" name="item_{{ item.id }}_explain" value="{{ item.explain }}" class="form-control"></td>
	            <td><input type="text" name="item_{{ item.id }}_command" value="{{ item.command }}" class="form-control"></td>
	            <td>
	                <button type="button" class="btn btn-success" onclick="submitRow(this, '{{ url_for('edit_item', character_id=character.id, item_id=item.id) }}')">登録</button>
	                <button type="button" class="btn btn-danger" onclick="submitRow(this, '{{ url_for('delete_item', character_id=character.id, item_id=item.id) }}')">削除</button>
	            </td>
	        </tr>
	        {% endfor %}
	    </tbody>
	</table>
	
	
</div>
{% endblock %}

{% block scrirpt %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
	// 事前に生成された選択肢リスト
    const weaponCategoriesOptions = `
        {% for category in weapon_categories %}
        <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    `;
	
	function addItem() {
	    const tbody = document.querySelector('#items-tbody-item');
	    const newRow = document.createElement('tr');
	    newRow.innerHTML = `
	        <td><input type="text" name="new_item_name[]" placeholder="名前" class="form-control"></td>
	        <td><input type="text" name="new_item_type[]" placeholder="タイプ" class="form-control"></td>
	        <td><input type="number" name="new_item_num[]" placeholder="個数" class="form-control"></td>
	        <td><input type="text" name="new_item_explain[]" placeholder="説明" class="form-control"></td>
	        <td><input type="text" name="new_item_command[]" placeholder="コマンド" class="form-control"></td>
	        <td>
	            <button type="button" class="btn btn-success" onclick="submitRow(this, '{{ url_for('add_item', character_id=character.id) }}')">登録</button>
	            <button type="button" class="btn btn-danger" onclick="removeRow(this)">削除</button>
	        </td>
	    `;
	    tbody.appendChild(newRow);
	}
	
	function addWeapon() {
	    const tbody = document.querySelector('#items-tbody-weapon');
	    const newRow = document.createElement('tr');
	    newRow.innerHTML = `
	        <td><input type="text" name="new_weapon_name[]" placeholder="名前" class="form-control"></td>
	        <td>
                <select name="new_weapon_category[]" class="form-control">
                    ${weaponCategoriesOptions}
                </select>
            </td>
	        <td><input type="text" name="new_weapon_type[]" placeholder="タイプ" class="form-control"></td>
	        <td><input type="number" name="new_weapon_rank[]" placeholder="ランク" class="form-control"></td>
	        <td><input type="number" name="new_weapon_weight[]" placeholder="重量" class="form-control"></td>
	        <td><input type="number" name="new_weapon_aim[]" placeholder="命中" class="form-control"></td>
	        <td><input type="number" name="new_weapon_power[]" placeholder="威力" class="form-control"></td>
	        <td><input type="text" name="new_weapon_damage[]" placeholder="追加点" class="form-control"></td>
	        <td><input type="text" name="new_weapon_explain[]" placeholder="説明" class="form-control"></td>
	        <td>
	            <button type="button" class="btn btn-success" onclick="submitRow(this, '{{ url_for('add_weapon', character_id=character.id) }}')">登録</button>
	            <button type="button" class="btn btn-danger" onclick="removeNewItem(this)">削除</button>
	        </td>
	    `;

	    tbody.appendChild(newRow);
	}

	function addProtector() {
	    const tbody = document.querySelector('#items-tbody-protector');
	    const newRow = document.createElement('tr');
	    newRow.innerHTML = `
	        <td><input type="text" name="new_protector_name[]" placeholder="名前" class="form-control"></td>
	        <td><input type="number" name="new_protector_type[]" placeholder="種類" class="form-control"></td>
	        <td><input type="number" name="new_protector_defense[]" placeholder="防護点" class="form-control"></td>
	        <td><input type="number" name="new_protector_weight[]" placeholder="重量" class="form-control"></td>
	        <td><input type="number" name="new_protector_evasion[]" placeholder="回避力" class="form-control"></td>
	        <td><input type="number" name="new_protector_accuracy[]" placeholder="命中力" class="form-control"></td>
	        <td><input type="text" name="new_protector_explain[]" placeholder="説明" class="form-control"></td>
	        <td>
	            <button type="button" class="btn btn-success" onclick="submitRow(this, '{{ url_for('add_protector', character_id=character.id) }}')">登録</button>
	            <button type="button" class="btn btn-danger" onclick="removeNewItem(this)">削除</button>
	        </td>
	    `;

	    tbody.appendChild(newRow);
	}
	
	function removeRow(button) {
	    const row = button.closest('tr');
	    if (row) {
	        row.remove();
	    }
	}

	function submitRow(button, actionUrl) {
	    const form = document.createElement('form');
	    form.method = 'POST';
	    form.action = actionUrl;
	    const row = button.closest('tr');
	    if (row) {
	        const inputs = row.querySelectorAll('input');
	        inputs.forEach(input => {
	            form.appendChild(input.cloneNode(true));
	        });
	        document.body.appendChild(form);
	        form.submit();
	    }
	}
	
	// スキル名のリストを定義
    const skillOptions = {
        '物理': ['ファイター', 'グラップラー', 'フェンサー', 'シューター'],
        '魔法': ['ソーサラー', 'コンジュラー', 'フェアリーテイマー', 'プリースト', 'マギテック', 'ウィザード'],
        'その他': ['セージ', 'アルケミスト', 'バード', 'エンハンサー', 'スカウト', 'レンジャー', '深智魔法', 'ミスティック', 'ライダー', 'ウォーリーダー']
    };

    // タイプの選択が変更された時に呼び出される関数
    function updateSkillNames() {
        const skillTypeSelect = document.getElementById('skill_type');
        const skillNameSelect = document.getElementById('skill_name');

        // 選択されているタイプを取得
        const selectedType = skillTypeSelect.value;

        // スキル名の選択肢をクリア
        skillNameSelect.innerHTML = '';

        // 新しいスキル名の選択肢を追加
        skillOptions[selectedType].forEach(skill => {
            const option = document.createElement('option');
            option.value = skill;
            option.textContent = skill;
            skillNameSelect.appendChild(option);
        });
    }

    // ページ読み込み時に初期のスキル名リストを設定
    document.addEventListener('DOMContentLoaded', (event) => {
        updateSkillNames(); // 初期設定
    });

    // タイプの選択が変更された時にスキル名リストを更新
    document.getElementById('skill_type').addEventListener('change', updateSkillNames);
    
</script>
{% endblock %}
